@import '../../assets/_variable';
@import '../../assets/_responsive';
@import '../../assets/_mixin';

.task {
    margin-bottom: 1em;
    box-shadow: -2px 2px 6px -1px black;
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 4px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    label {
        @include unselectable();
        color: white;
    }

    &__line {
        display: flex;
        background-color: $color_1;
        padding: 0.5em;

        &--move,
        &--checked,
        &--detail {
            display: flex;
            align-items: center;
            font-size: 1.2em;
            margin-right: 1em;

            svg > path {
                stroke: $color_4;
            }
        }

        &--move {
            padding: 0.5em;
            cursor: grabbing;
        }

        &--checked {
            cursor: pointer;

            svg {
                border: 2px solid white;
                border-radius: 5px;

                &:hover {
                    border-color: #06d237;
                }

                path {
                    opacity: 0;
                    color: #06d237;
                }
            }
        }

        &--detail {
            cursor: pointer;
            margin-left: 1em;

            svg {
                path {
                    color: $color_3;
                }
            }
        }

        .checked {
            border-color: #06d237;

            path {
                opacity: 1;
            }
        }

        &--input {
            border: none;
            background-color: transparent;
            width: 100%;
            outline: none;
            color: $color_4;

            &:focus {
                border: 2px solid $color_2;
            }
        }
    }

    .active {
        display: grid;
        padding: 1em;
        border-top: 2px solid $color_2;
        transform: translateY(0);
        transition: transform 0.3s ease;
        transition-delay: 0.25s;
        grid-template-columns: 60% 40%;
        position: relative;

        @include mobile {
            display: flex;
            flex-direction: column;

            & > * {
                margin: 1em 0;
            }
        }

        &::before {
            content: '';
            display: block;
            width: 4px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    &__detail {
        display: none;
        background-color: $color_1;
        transform: translateY(-100%);

        & > * {
            padding: 0 1em;
        }

        &--left {
            display: flex;
            flex-direction: column;

            .note_text {
                resize: none;
                height: 15em;
                border: none;

                &:focus {
                    outline: $color_1 auto;
                }
            }
        }

        &--right {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            @include mobile {
                & > * {
                    margin-top: 1em;
                }
            }

            .due_date,
            .priority {
                display: flex;
                flex-direction: column;
            }

            .due_date_text,
            .priority_text {
                width: 100%;
                padding: 0.25em 0.5em;
                cursor: pointer;
                line-height: 1.1;
                outline: $color_1 auto 2px;
            }

            .priority_text {
                padding: 0.4em;
            }

            .button__group {
                display: flex;
                justify-content: space-between;

                .delete {
                    background-color: red;
                }

                .save {
                    background-color: green;
                }

                .delete,
                .save {
                    color: white;
                    text-transform: uppercase;
                    padding: 1em 2em;
                    border-radius: 5px;
                    border: none;
                    box-shadow: -3px 3px 3px -1px $color_2;
                    transition: box-shadow 0.3s ease;
                    cursor: pointer;

                    &:focus {
                        outline: none;
                    }

                    &:active {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

.low {
    &::before {
        background-color: green;
    }
    .active::before {
        background-color: green;
    }
}

.medium {
    &::before {
        background-color: yellow;
    }
    .active::before {
        background-color: yellow;
    }
}

.high {
    &::before {
        background-color: red;
    }
    .active::before {
        background-color: red;
    }
}
